<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="d-flex justify-content-between align-items-center p-3 border-bottom">
        <h1>SiteWordz</h1>
        <form>
            <label for="username">User:</label>
            <input type="text" id="username" name="username" value="{{ user_name }}"readonly>
        </form>
    </header>
    <main class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                    <label for="scoreField" class="form-label">Score</label>
                    <input type="text" class="form-control" id="scoreField" readonly value="">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3 text-center">
                    <label for="timerDisplay" class="form-label">Time Remaining</label>
                    <button type="button" class="btn btn-secondary mx-5" id="timerDisplay">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="siteWordsTextArea">Site Words</label>
                        <textarea class="form-control" id="siteWordsTextArea" rows="5" readonly>
        Your site words will appear here...
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
            <div class="bd-example m-0 border-0 d-flex justify-content-center">
            <button type="button" id="startButton" class="btn btn-secondary mx-5">Start</button>
            <button type="button" class="btn btn-secondary mx-5">Pause/Exit</button>
            </div></div></div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
